html{
	height: 219px;
  background-color: #36465D;
}

p{
  text-align: center;
}

p.header{
  width: 270px;
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Patua One', cursive;
  color: white;
}

.footer{
  display: inline-block;
  width: 100%;
  font-size: 10px;
  float: right;
  margin-bottom: 5px;
  color: white;
}

.footer a{
  color: white;
}

.footer a:visited{
  color: white;
}

#toggles{
  text-align: center;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 8px;
}

#toggles input[type=checkbox]{
    display: none;
}

.textUp{

	background-image: url(shapes/text.png);
	width: 49px;
    height: 48px;
    border: none;
   	outline: 0;
   	background-color: transparent;
   	margin: 5px;
    margin-top: 15px;
}

.textDown{

  background-image: url(greyed/textG.png);
  width: 49px;
  height: 48px;
  border: none;
  outline: 0;
  background-color: transparent;
  margin: 5px;
  margin-top: 15px;
}

.chatUp{
	background-image: url(shapes/chat.png);
	width: 49px;
    height: 48px;
    border: none;
   	outline: 0;
   	background-color: transparent;
   	margin: 5px;
}

.chatDown{
  background-image: url(greyed/chatG.png);
  width: 49px;
    height: 48px;
    border: none;
    outline: 0;
    background-color: transparent;
    margin: 5px;
}

.linkUp{
	background-image: url(shapes/link.png);
	width: 49px;
    height: 48px;
    border: none;
   	outline: 0;
   	background-color: transparent;
   	margin: 5px;
    margin-top: 15px;
}

.linkDown{
  background-image: url(greyed/linkG.png);
  width: 49px;
    height: 48px;
    border: none;
    outline: 0;
    background-color: transparent;
    margin: 5px;
    margin-top: 15px;
}

.musicUp{
	background-image: url(shapes/music.png);
	width: 49px;
    height: 48px;
    border: none;
   	outline: 0;
   	background-color: transparent;
   	margin: 5px;
}

.musicDown{
  background-image: url(greyed/musicG.png);
  width: 49px;
    height: 48px;
    border: none;
    outline: 0;
    background-color: transparent;
    margin: 5px;
}

.pictureUp{
	background-image: url(shapes/picture.png);
	width: 49px;
    height: 48px;
    border: none;
   	outline: 0;
   	background-color: transparent;
   	margin: 5px;
    margin-top: 15px;
}

.pictureDown{
  background-image: url(greyed/pictureG.png);
  width: 49px;
    height: 48px;
    border: none;
    outline: 0;
    background-color: transparent;
    margin: 5px;
    margin-top: 15px;
}

.quoteUp{
	background-image: url(shapes/quote.png);
	width: 49px;
    height: 48px;
    border: none;
   	outline: 0;
   	background-color: transparent;
   	margin: 5px;
    margin-top: 15px;
}

.quoteDown{
  background-image: url(greyed/quoteG.png);
  width: 49px;
    height: 48px;
    border: none;
    outline: 0;
    background-color: transparent;
    margin: 5px;
    margin-top: 15px;
}

.videoUp{
	background-image: url(shapes/video.png);
	width: 49px;
    height: 48px;
    border: none;
   	outline: 0;
   	background-color: transparent;
   	margin: 5px;
}

.videoDown{
  background-image: url(greyed/videoG.png);
  width: 49px;
    height: 48px;
    border: none;
    outline: 0;
    background-color: transparent;
    margin: 5px;
}

.askUp{
	background-image: url(shapes/ask.png);
	width: 49px;
    height: 48px;
    border: none;
   	outline: 0;
   	background-color: transparent;
   	margin: 5px;
}

.askDown{
  background-image: url(greyed/askG.png);
  width: 49px;
    height: 48px;
    border: none;
    outline: 0;
    background-color: transparent;
    margin: 5px;
}

.btn {
  background: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: -moz-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: -ms-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: -o-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: linear-gradient(to bottom, #fafafa, #e0e0e0);
  font-family: Arial;
  color: #6b6b6b;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 40px 10px 40px;
  width: 100%;
  border: solid #cfcfcf 1px;
  text-decoration: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}

.btn:hover {
  background: #e0e0e0;
  background-image: -webkit-linear-gradient(top, #e0e0e0, #fafafa);
  background-image: -moz-linear-gradient(top, #e0e0e0, #fafafa);
  background-image: -ms-linear-gradient(top, #e0e0e0, #fafafa);
  background-image: -o-linear-gradient(top, #e0e0e0, #fafafa);
  background-image: linear-gradient(to bottom, #e0e0e0, #fafafa);
  text-decoration: none;
}